.card {
    background-color: rgb(86, 167, 167);
    width: 250px;
    height: 175px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;

}

.letra {
    color: black;
}